Source: ros-groovy-opencv2
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libv4l-dev,texlive-latex-base,ros-groovy-catkin,ffmpeg,libavcodec-dev,libavformat-dev,libavutil-dev,libswscale-dev,libjpeg62-dev,zlib1g-dev,python-numpy,libgtk2.0-dev,python-dev,libjasper-dev,python-support,cmake,libpng12-dev,libtiff4-dev
Homepage: http://opencvg.org
Standards-Version: 3.9.2

Package: ros-groovy-opencv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libv4l-dev,ffmpeg,libavcodec-dev,libavformat-dev,libavutil-dev,libswscale-dev,libjpeg62-dev,zlib1g-dev,python-numpy,libgtk2.0-dev,python-dev,libjasper-dev,python-support,libpng12-dev,libtiff4-dev
Description: OpenCV
